* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  background-color: #f2f7ff;
}

/* img {
  max-width: 100%;
} */

/* Common Container */
.container {
  max-width: 1140px;
  margin: auto;
}

/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1140px;
  margin: 20px auto; */
  /* border: 1px solid black; */
}

/* nav img {
    border-radius: 50%;
} */

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  font-family: Inter;
  font-size: 1rem;
}

.nav-home {
  color: #252432;
  font-weight: 700;
}

.nav-grey {
  color: #6b7280;
}

.nav-cart {
  color: #000000;
}

/* Banner Styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1140px; */
  margin: 70px auto;
  /* border: 1px solid black; */
}

.banner-container .banner-content {
  /* border: 1px solid blue; */
  margin-top: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-title span,
.second-banner h3 span,
.fourth-banner h2 span {
  color: #e95a08;
}

.banner-description,
.second-banner-description,
.fourth-banner p {
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* .banner-image {
  flex: 1;
} */

.banner-image {
  width: 100%;
}

.banner-image img {
  display: block;
}

/* Second Banner */
.second-banner {
  /* border: 1px solid black; */
  margin-top: 150px;
  margin-bottom: 200px;
}

.second-banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid black; */
}

.second-banner-title {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.second-banner-description {
  margin-bottom: 50px;
  /* padding-left: 20px; */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  /* border: 1px solid black; */
}

.card {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
  margin-bottom: 30px;
}

.flower-name {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Inter;
  color: rgb(17, 17, 17);
  margin-bottom: 20px;
}

.flower-price {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: Inter;
  color: rgb(17, 17, 17);
  margin-bottom: 36px;
}

/* Button Style */

.primary-button {
  background-color: rgb(233, 90, 8);
  font-size: 1rem;
  font-weight: 600;
  font-family: Inter;
  color: white;
  padding: 26px 50px;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
}

/* Third Banner */
.third-banner {
  /* border: 1px solid black; */
  display: flex;
  gap: 100px;
  margin-bottom: 150px;
}

.third-banner-image {
  position: relative;
  flex: 1;
}

.third-banner-image img:first-child {
  width: 100%;
  display: block;
}

.badge {
  background-color: transparent;
  position: absolute;
  top: -120px;
  right: -100px;
  width: 250px;
}

.third-banner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-banner-content h2,
.fourth-banner h2 {
  font-size: 3.1rem;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.third-banner-content ul {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  list-style-type: disc;
}

/* Fourth Banner */
.fourth-banner {
  /* border: 1px solid black; */
  margin-bottom: 120px;
}

.fourth-banner h2,
.fourth-banner p {
  text-align: center;
}

.fourth-banner p {
  margin-bottom: 100px;
}

.image-container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(1, 1fr) 2fr;
  max-width: 1140px;
  gap: 30px;
  width: 100%;
  height: 430px;
}

.left-container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

.right-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png") no-repeat center center/cover;
}

.first-bg-img {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png") no-repeat center center/cover;
}

.second-bg-img {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png") no-repeat center center/cover;
}

.first-bg-img h3,
.second-bg-img h3,
.right-container h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
}

.right-container h3 {
  font-size: 2.5rem;
}

.first-bg-img a,
.second-bg-img a,
.right-container a {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  color: white;
}

.right-container a {
  font-size: 1.6rem;
}

/* Media Query (Mobile Device) */
@media screen and (max-width: 576px) {
  /* All */
  .container {
    margin: 0 10px;
  }

  /* Nav Bar */
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }

  /* Banner 1 */
  .banner-container {
    flex-direction: column-reverse;
  }

  .banner-image img {
    width: 100%;
    /* flex: 1; */
  }

  .banner-content {
    padding-left: 10px;
    /* padding-right: 10px; */
  }

  /* Banner 2 */
  .second-banner-content {
    padding: 0 8px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
  }

  .primary-button {
    padding: 16px 16px;
    font-size: 0.8rem;
    width: 100%;
  }

  /* Banner 3 */
  .third-banner {
    flex-direction: column;
    margin-top: 60px;
    gap: 18px;
  }

  .badge {
    display: none;
  }

  /* Banner 4 */

  .fourth-banner {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 10px;
  }

  .left-container {
    gap: 10px;
  }

  .first-bg-img {
    width: 100%;
    height: 300px;
  }

  .second-bg-img {
    width: 100%;
    height: 300px;
  }

  .right-container {
    width: 100%;
    height: 300px;
  }

  .right-container h3 {
    font-size: 1.25rem;
  }
  .right-container a {
    font-size: 1rem;
  }
}
